@import '../Styles/_reset.scss'; 
@import '../Styles/variables.scss';
@import '../Styles/fonts.scss';

body {
  background-color: $darkGrey;
}

header {
  background-color: $headerGrey;
}
main {
  max-width:800px;
  margin: 0 auto;
}
